<%- include header %>

<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">N+</h1>

    </div>
    <h3>Welcome to N+</h3>
    <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
    </p>
    <p>Login in. To see it in action.</p>
    <form class="m-t" role="form"  method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" required="" id="name" name="name">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

      <a href="#"><small>Forgot password?</small></a>
      <p class="text-muted text-center"><small>Do not have an account?</small></p>
      <a class="btn btn-sm btn-white btn-block" href="reg">Create an account</a>
    </form>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>


<%- include footer %>


