<html>

<form action="https://sandboxapp.cloopen.com:8883/2013-12-26/Accounts/8a48b5514ee2497d014ee3394cda0288/SMS/TemplateSMS?sig=<%- SigParameter %>">
  account<input type="text" value="18628082771" name="account"/><br/>
  pswd<input type="text" value="gjj123456" name="pswd"/><br/>
  mobile <input type="text" value="18628082771" name="mobile"/><br/>
  msg <input type="text" value="【云通讯】您使用的是云通讯短信模板，您的验证码是{1}，请于{2}分钟内正确输入" name="msg"/><br/>
  needstatus<input type="text" value="true" name="needstatus"/><br/>
  <input type="submit" value="提交" />
</form>
</html>