@charset "utf-8";
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0 none;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5FAE\8F6F\96C5\9ED1;color:#333;outline:0;}
body{background:#fff;}
a{text-decoration: none; outline: none;}
/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-bn{border:none!important;}
.f-bgn{background:none!important;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-ps{position:static!important;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs12{font-size:12px;}
.f-fs14{font-size:14px;}
.f-fs16{font-size:16px;}
.f-fs18{font-size:18px;}
.f-fs20{font-size:20px;}
.f-fs24{font-size:24px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
/*全局样式*/
body{font:14px/1.4 "Microsoft YaHei","微软雅黑","Tahoma","Hiragino Sans GB",arial,Lucida,Verdana,STHeiti,SimSun,'宋体',sans-serif;background-color:#fff;}
a{color:#000;}
a:hover,a:active{color:#ff4433;}
.c-blue{color:#00a0dd;}  /*蓝色文字*/
.c-gray{color:#888;} /*灰色文字*/
.c-gray2{color:#666;} /*灰色文字*/
.c-gray3{color:#999;} /*灰色文字*/
.c-blue-2{color:#3498db;}  /*蓝色文字*/
.c-orange{color:#ff4433!important;} /*橙色文字*/
.c-orange2{color:#ff4433!important;}
.c-orange3{color:#f80!important;}
.c-green{color:#53bc08!important;}
.b-blue{background-color:#00a0dd;} /*蓝色背景*/
.b-orange{background-color:#fe8700;} /*橙色背景*/

/*盒子 .wraper */
.wraper{width:960px;margin:0 auto;clear:both;}
/*头部 #header*/
#header{width:100%;height:105px;background-color:#fff;border-top:5px solid #eceef1;}
#header .wraper {z-index:999;}
.m-tools {float:right;margin-top:10px;color:#666;*width:350px;}
.m-tools a {margin-left:5px;}
.m-tools b {margin-right:10px;}
/*m-pager*/
.m-pager {width:100%;height:40px;padding:25px 0;*text-align:center;}
.m-pager ul li{/*width:60px;*/text-align:center;/*float:left;*/margin-right:5px;}
.m-pager ul {display:table;margin-left:auto;margin-right:auto;}
.m-pager ul li{float:left;*float:none;*display:inline;*zoom:1;}
.m-pager ul li a {height:38px;width:38px;line-height:38px;font-size:16px;color:#666;border:1px solid #ddd;background:#fff;display:block;}
.m-pager ul li a.pre,.m-pager ul li a.next {width:68px;}
.m-pager ul li a.dis {color:#ccc;cursor:default;}
.m-pager ul li a.dis:hover {color:#ccc;border:1px solid #ddd;}
.m-pager ul li a.cur {color:#fff;border:1px solid #0294db;background:#0294db;}
.m-pager ul li a.cur:hover {color:#fff;}
.m-pager ul li a:hover,.m-pager ul li a:hover {color:#0294db;border:1px solid #0294db;}
.m-pager-content {/*display:none;*/}
/*m-nav-2*/
.m-nav-2 {width:100%;height:60px;background:url(../images/product/bg_nav.png) repeat-x;}
.m-nav-2 li {float:left;background:url(../images/product/line.png) no-repeat top right;}
.m-nav-2 li a {display:block;width:190px;height:55px;line-height:53px;padding-top:5px;font-size:16px;color:#fff;text-align:center;}
.m-nav-2 li a:hover {background:#049feb;}
.m-nav-2 li.cur a {padding:0px;border-top:5px solid #ffaa00;color:#333;background:#fff;}
.m-nav-2 li i {background:url(../images/product/sprt_pro.png) no-repeat;width:20px;height:20px;vertical-align:-2px;margin-right:5px;}
.m-nav-2 .icon_1 {background-position:0px 0px;}
.m-nav-2 li.cur .icon_1 {background-position:0px -20px;}
.m-nav-2 .icon_2 {background-position:-20px 0px;}
.m-nav-2 li.cur .icon_2 {background-position:-20px -20px;}
.m-nav-2 .icon_3 {background-position:-40px 0px;}
.m-nav-2 li.cur .icon_3 {background-position:-40px -20px;}
.m-nav-2 .icon_4 {background-position:-60px 0px;}
.m-nav-2 li.cur .icon_4 {background-position:-60px -20px;}
.m-nav-2 .icon_5 {background-position:-80px 0px;}
.m-nav-2 li.cur .icon_5 {background-position:-80px -20px;}
/*m-nav-3*/
.m-nav-3 {width:100%;height:60px;background:url(../images/product/bg_nav.png) repeat-x;}
.m-nav-3 h3 {font-size:20px;color:#fff;line-height:60px;}
.m-nav-3 span {font-size:14px;color:#fff;line-height:60px;margin-left:15px;}
/*导航 #nav*/
.m-nav{clear:both;position:absolute;top:35px;right:0px;z-index:999;}
.m-nav i {position:absolute;top:35px;right:9px;}
.m-nav li {display:block;position:relative;float:left;z-index:100;}
.m-nav li a{display:block;width:110px;height:65px;line-height:65px;text-align:center;color:#555;font-size:16px;border-top:5px solid #fff;text-decoration:none;}
.m-nav li a:hover {color:#f80;}
.m-nav li ul.m-nav-inner {position: absolute;display:none;background:/*url(../images/trans.png) repeat transparent*/ #333333!important;}
.m-nav li ul.m-nav-inner li{float:none;clear:both;background:none;}
.m-nav li ul.m-nav-inner li a{color:#fff;font-size:14px;border:none;height:40px;line-height:40px;text-decoration:none;font-weight:normal;background:none;}
.m-nav li ul.m-nav-inner li a:hover {color:#ff8800;}
.m-nav li.cur a {border-top:5px solid #00a4e3;background:#333;color:#fff;font-weight:bold;}
/*尾部 #footer*/
/*m-info*/
.m-info {float:left;clear:both;width:100%;background-color:#fff;margin:0px 0px 40px 0px;padding-top:20px;color:#666;}
.m-info h3 {color:#666;font-size:14px;margin-bottom:10px;}
/*u-contact*/
.u-contact {float:left;height:150px;width:329px;border-right:1px solid #e5e5e5;}
.u-contact li {float:left;clear:both;line-height:30px;position:relative;padding-left:25px;width:250px;}
.u-contact i {vertical-align:middle;top:5px;left:0px;position:absolute;}
/*u-links*/
.u-links {float:left;height:150px;padding:0px 40px 0px 70px;_padding:0px 20px 0px 35px;border-right:1px solid #e5e5e5;width:270px;_width:330px;}
.u-links a {float:left;width:70px;display:block;color:#666;margin-right:15px;margin-bottom:8px;}
.u-links a:hover {color:#f80;text-decoration:underline;}
.u-links .im:hover {text-decoration:none;}
/*u-share*/
.u-share {float:left;height:150px;margin-left:60px;}
.u-share li {clear:both;line-height:30px;}
.u-share a {vertical-align:middle;}
#footer{clear:both;width:100%;background-color:#fff;margin-top:20px;color:#999;line-height:20px;border-top:1px solid #e5e5e5;padding:20px 0px; font-size: 12px;}
/*用到的一些动画*/
.trans25{-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.trans35{-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;transition:all .35s ease-in-out;}
.trans50{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;}
.halo{-webkit-animation:Halo 6s linear infinite;-moz-animation:Halo 6s linear infinite;-o-animation:Halo 6s linear infinite;
    -ms-animation:Halo 6s linear infinite;animation:Halo 6s linear infinite;}
.animate-paused{-webkit-animation-play-state:paused;-moz-animation-play-state: paused;-ms-animation-play-state: paused;animation-play-state: paused;}
@-webkit-keyframes Halo{
    0%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) , 0 0 0 10px rgba(255,255,255,.15) , 0 0 0 16px rgba(255,255,255,.2)}
    25%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) ,0 0 0 6px rgba(255,255,255,.15) , 0 0 0 30px rgba(255,255,255,.3) , 0 0 0 26px rgba(255,255,255,.35)}
    50%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) ,0 0 0 10px rgba(255,255,255,.2), 0 0 0 20px rgba(255,255,255,.25), 0 0 0 40px rgba(255,255,255,.4)}
}
@-moz-keyframes Halo{
    0%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) , 0 0 0 10px rgba(255,255,255,.15) , 0 0 0 16px rgba(255,255,255,.2)}
    25%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) ,0 0 0 6px rgba(255,255,255,.15) , 0 0 0 30px rgba(255,255,255,.3) , 0 0 0 26px rgba(255,255,255,.35)}
    50%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) ,0 0 0 10px rgba(255,255,255,.2), 0 0 0 20px rgba(255,255,255,.25), 0 0 0 40px rgba(255,255,255,.4)}
}
@-ms-keyframes Halo{
    0%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) , 0 0 0 10px rgba(255,255,255,.15) , 0 0 0 16px rgba(255,255,255,.2)}
    25%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) ,0 0 0 6px rgba(255,255,255,.15) , 0 0 0 30px rgba(255,255,255,.3) , 0 0 0 26px rgba(255,255,255,.35)}
    50%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) ,0 0 0 10px rgba(255,255,255,.2), 0 0 0 20px rgba(255,255,255,.25), 0 0 0 40px rgba(255,255,255,.4)}
}
@keyframes Halo{
    0%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) , 0 0 0 10px rgba(255,255,255,.15) , 0 0 0 16px rgba(255,255,255,.2)}
    25%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) ,0 0 0 6px rgba(255,255,255,.15) , 0 0 0 30px rgba(255,255,255,.3) , 0 0 0 26px rgba(255,255,255,.35)}
    50%{box-shadow:0 0 0 6px rgba(255,255,255,0.1) ,0 0 0 10px rgba(255,255,255,.2), 0 0 0 20px rgba(255,255,255,.25), 0 0 0 40px rgba(255,255,255,.4)}
}
/* 网站图标sprt */
.sprt{display:inline-block;*zoom:1;*display:inline;}
.u-logo {background-image:url(../images/icon/logo.png); width:180px; height:50px;margin-top:24px;}
.icon-tel {background:url(../images/icon/icon_tel.png) no-repeat; width:22px; height:16px;}
.btn-sm {line-height:23px;text-align:center;color:#fff;}
.btn-sm:hover {color:#fff;text-decoration:none;}
.btn-sm-yellow {background-image:url(../images/icon/sprt_btn_sm_yellow.png); width:54px; height:22px;}
.btn-sm-yellow:hover {background-image:url(../images/icon/sprt_btn_sm_yellow_h.png);}
.btn-sm-green {background-image:url(../images/icon/sprt_btn_sm_green.png); width:54px; height:22px;}
.btn-sm-green:hover {background-image:url(../images/icon/sprt_btn_sm_green_h.png);}
.sprt-icon-arr-up {background-image:url(../images/icon/sprt_icon_arr_up.png); width:8px; height:8px;}
.sprt-icon-arr-down {background-image:url(../images/icon/sprt_icon_arr_down.png); width:8px; height:8px;}
.sprt-icon-ff  {background-image:url(../images/icon/sprt_icon_ff.png); width:70px; height:70px;}
.sprt-icon-ss  {background-image:url(../images/icon/sprt_icon_ss.png); width:70px; height:70px;}
.sprt-icon-lw  {background-image:url(../images/icon/sprt_icon_lw.png); width:70px; height:70px;}
.sprt-icon-yd  {background-image:url(../images/icon/sprt_icon_yd.png); width:70px; height:70px;}
.sprt-icon-addr  {background-image:url(../images/icon/sprt_icon_addr.png); width:20px; height:20px;}
.sprt-icon-email  {background-image:url(../images/icon/sprt_icon_email.png); width:20px; height:20px;}
.sprt-icon-tel  {background-image:url(../images/icon/sprt_icon_tel.png); width:20px; height:20px;}
.sprt-icon-sina {background-image:url(../images/icon/sprt_icon_sina.png); width:30px; height:30px;}
.sprt-icon-sina:hover {background-image:url(../images/icon/sprt_icon_sina_f.png);}
.sprt-icon-wx {background-image:url(../images/icon/sprt_icon_wx.png); width:30px; height:30px;}
.sprt-icon-wx:hover {background-image:url(../images/icon/sprt_icon_wx_f.png);}
/*返回顶部*/
a#backtop{display:none;width: 60px;height: 60px;background: url("../images/backtop.png") 0 0 no-repeat; text-indent: -9999em; position: fixed; _position: absolute;bottom: 60px;right: 30px; z-index:500;}
a#backtop:hover{background-position: 0 -60px;}
/*客服*/
.kefu_bar{display:none;width:35px;height: 135px;background:url("../images/kefu.png") 0 0 no-repeat; position: fixed;_position: absolute;top:530px; right: 0; z-index: 401; text-indent: -9999em; overflow: hidden;}
.kefu_bar:hover{background-position: 0 -136px;}
#fixed_kefu{width:123px;height:280px; padding-top:38px;border: 1px solid #ddd;background:#fff;position: fixed;_position:absolute;top:530px;right:0px; z-index:400; text-align: center;}
#fixed_kefu .title{width:125px;height: 31px;background: url("../images/kefu.png") -36px 0; position: absolute;left: -1px;top: -1px; cursor: pointer; z-index: 9}
#fixed_kefu p{padding:3px 8px;color: #333333;font-size: 12px; line-height: 24px;}
#fixed_kefu .tel{font-weight: 800; font-size: 15px; color: #ff8800;}
#fixed_kefu a.qq{display: block; width: 90px;height: 28px;background: url("../images/kefu.png") -36px -32px no-repeat; margin: 0 auto; text-indent: -9999px;}
#fixed_kefu a.qq:hover{background-position: -36px -61px;}
#fixed_kefu .ewm{ padding: 10px; border-top:1px dashed #ddd; margin-top: 10px;}
#fixed_kefu .ewm .ico{width: 100px;height: 100px; background: url("../images/kefu.png") -36px -90px no-repeat; margin:10px auto 0 auto;}