/*最近浏览*/
.zjll{width: 178px; border: solid 1px #e4e4e4; border-bottom: 0; font-size: 16px;}
.zjll .title{width: 100%; height: 36px; line-height: 36px; border-bottom: solid 1px #e4e4e4; color: #666;}
.ico-time-gray{background-position:-189px -132px; width: 24px; height: 24px; vertical-align: middle; }
.zjll ul li{width: 154px; border-bottom: solid 1px #e4e4e4; color: #666; padding: 12px;}
.zjll ul li img{width: 100%; height:154px;}
.zjll ul li p{height: 40px; line-height: 20px; width: 100%; overflow: hidden; font-size: 14px;}
.zjll ul li p a{color: #7d7d7d;}
.zjll ul li p a:hover{color: #0085d0;}

/*产品详情*/
.detail-wrap{width: 100%; margin-top: 8px;}
.pro-pic{width: 404px; height: 420px;}
.pro-info{width:435px;}
.pro-info p{color:#7d7d7d; font-size: 15px; padding-bottom: 15px; line-height: 26px; width: 100%; overflow: hidden;}
.pro-info p .btn-red,.pro-info p .btn-gray{width: 136px; height: 36px; background-color: #e30076; text-align: center; line-height: 36px; color: #fff; display: inline-block;}
.pro-info p .btn-red:hover{background-color: #ff0287;}
.pro-info p .btn-gray{height: 34px; line-height: 34px; border: solid 1px #cacaca; background-color: #f7f7f7; color: #7d7d7d;}
.pro-info p .btn-gray:hover{background-color: #fdfdfd;}

.detail-con{margin-top: 12px; border: solid 1px #bebebe;}
.detail-con .tab-title{width: 100%; background-color: #efefef; height: 36px; line-height: 36px; border-bottom: solid 1px #bebebe; position: relative; color: #666;}
.detail-con .tab-title ul{width: 100%; height: 36px; line-height: 36px; position: absolute; top: -1px; left: 0px;}
.detail-con .tab-title ul li{width:124px; height: 100%; font-size: 16px; text-align: center; float: left; cursor: pointer;}
.detail-con .tab-title ul li.cur{background-color: #fff; border-top: 2px solid #0085cf; color: #0085cf; border-right: solid 1px #bebebe;}
.detail-con .tab-title ul li.bor-l{border-left: solid 1px #bebebe;}
.ico-spsm{width: 17px; height: 24px; vertical-align: middle;}
.ico-spsm-gray{background-position:0 -132px;}
.ico-spsm-blue{background-position:-41px -132px;}
.ico-xffw-gray{ width: 24px; height: 24px; vertical-align: middle;}
.ico-xffw-gray{background-position:-85px -132px;}
.ico-xffw-blue{background-position:-135px -132px;}
.detail-con .detail-info-con{text-align: center; padding: 20px;}
.detail-con .detail-info-con img{max-width: 951px;}
.detail-con .detail-xffw{padding:20px 40px; min-height: 500px;}
.detail-con .detail-xffw ul.xffw-list{border:solid 1px #bebebe; border-bottom: 0; color: #7d7d7d; font-size: 14px;}
.detail-con .detail-xffw ul.xffw-list li{width: 100%; height: 30px; line-height: 30px; border-bottom: solid 1px #bebebe; text-align: center;}
.detail-con .detail-xffw ul.xffw-list li.title{background-color: #f0f0f0;}
.detail-con .detail-xffw ul.xffw-list li .w01{width: 20%;}
.detail-con .detail-xffw ul.xffw-list li .w02{width: 40%;}

/*焦点图*/
.slider-wrapper {position: relative;  width: 404px;  height: 420px  }
.slider-item { height: 358px; overflow: hidden;  *zoom: 1  }
.slider-item a { display: block;  height: 362px  }
.slider-controlNav-box { position: absolute; bottom:0;width:100%;left:0;height:52px;}
.slider-controlNav a  {overflow: hidden; float: left; margin-right: 8px;}
.slider-controlNav a img {width:52px;height:52px;border:1px solid #e3e3e3;}
.slider-controlNav a.on {}
.slider-controlNav a.on img {border:1px solid #e30177;}

