/*焦点图*/
.slider-wrapper {position: relative;  width: 740px;  height: 362px  }
.slider-item { height: 362px; overflow: hidden;  *zoom: 1  }
.slider-item a { display: block;  height: 362px  }
.slider-controlNav {position: absolute;  bottom: 16px;  left: 0px;  z-index: 10; width: 740px; text-align: center;}
.slider-controlNav a {position: relative;  z-index: 9; display: inline-block; width: 16px; height: 16px; background: url("i/common.png") no-repeat  -386px 0px;  margin: 0 4px; text-indent: -999em;}
.slider-controlNav a.on{ background-position: -358px 0px;}

/*通知公告 排行榜*/
.com-news{width: 238px; border: solid 1px #e4e4e4; color: #6a6a6a;}
.com-news .title{height: 36px; line-height: 36px; padding: 0 8px; font-size: 15px; border-bottom: solid 1px #e4e4e4;}
.com-news ul li{margin: 0 8px; height: 34px; line-height: 34px; overflow: hidden;}
.com-news ul li a{color: #6a6a6a;}
.com-news ul li a:hover{color: #0085cf;}
.notice{height: 142px; overflow: hidden;}
.phb{height: 208px; overflow: hidden;}
.notice ul li{padding: 0 20px;}
.ico-notice{background-position: 0 -30px; width: 18px; height: 18px; vertical-align: -3px;}
.ico-phb{background-position: -32px -30px; width: 18px; height: 18px; vertical-align: -3px;}
.ico-more{background-position:-74px -4px; width: 24px; height: 6px; vertical-align: 5px; }
.ico-one,.ico-two,.ico-three,.ico-four,.ico-five{background-position: -369px -129px; width: 17px; height: 17px; vertical-align: middle;}
.ico-two{background-position: -369px -164px;}
.ico-three{background-position: -369px -200px;}
.ico-four{background-position: -369px -233px;}
.ico-five{background-position: -369px -267px;}



