.u-sider {width:180px;height:410px;border:1px solid #ccc;float:left;font-size:16px;color:#333;background: #eee;}
.u-sider .mt {background-color:#ccc;height:46px;line-height:46px;text-align: center;}
.u-sider li {float:left;padding:2px 20px;cursor: pointer;font-size:15px;position: relative;width:132px;}
.u-sider li span.item {display: block;height:42px;line-height:42px;border-bottom:1px dotted #ccc;}
.u-sider li span.name {display: block;float:left;}
.u-sider li s {display: inline-block;*zoom:1;*display:inline;width:42px;height:42px;background:url("i/common.png") 0 0 no-repeat;float:left;}
.u-sider li.fore1  s {background-position: -130px -55px;}
.u-sider li.fore2  s {background-position: 3px -60px;}
.u-sider li.fore3  s {background-position: -298px -55px;}
.u-sider li.fore4  s {background-position: -184px -55px;}
.u-sider li.fore5  s {background-position: -238px -55px;}
.u-sider li.selected i {border-left:7px solid #0085d0;position: absolute;top:2px;left:0;display: block;width:7px;height:42px;}
.u-main {width:990px;height:410px;border:1px solid #019bc7;float:right}
.u-sider  .tybs s {background-position: -58px -243px;}
.u-sider  .shxg s {background-position: -272px  -243px;}
.u-sider  .qtwt s {background-position: -223px -244px;}
.u-sider  .qyxg s {background-position: 0 -243px;}
.u-sider  .rank-week s {background-position: -39px -187px;}
.u-sider  .rank-month s {background-position: -90px -187px;}
.u-sider  .rank-quarter s {background-position: 7px -187px;}
.u-sider  .notice s {background-position: -221px -245px;}
.m-bread {text-align:left;padding:0 15px;width:960px;height:40px;color:#fff;line-height:40px;background: url("i/title_bg.png") no-repeat;}
.m-bread s {display: inline-block;*zoom:1;*display:inline;width:38px;height:28px;background:url("i/common.png") 3px -74px no-repeat;vertical-align: middle}
.m-bread .ico-user-bs {background-position:3px -74px;}
.m-bread .ico-user-info {background-position:-130px -67px;}
.m-bread .ico-user-wxf {background-position:-299px -67px;}
.m-bread .ico-user-yxf {background-position:-234px -67px;}
.m-bread .ico-user-gq {background-position:-182px -67px;}
.m-bread .ico-tybs {background-position:-58px -253px;}
.m-bread .ico-qyxg {background-position:0px -253px;}
.m-bread a {color: #fff;}
.list li {width:95%;border-bottom:1px dotted #ddd;padding:10px 0;margin:0 2.5%;font-size:14px;}
.list li a {margin-left:5px;display: inline-block;width: 80%;overflow: hidden;height: 20px;line-height: 20px;color:#0076a5;}
.list li a:hover {text-decoration:underline}
.list li .time {float:right;color:#aaa;margin-right:30px;}
.list .detail {line-height: 25px;border:none;}
.back,.back:hover{font-size:14px;color:#fff;}

/*帮助中心*/
.help-banner {background: #0085cf;height: 135px;width:100%;margin-top:-15px;margin-bottom:15px;}
.help-banner-main {width:1185px;height: 135px;margin:0 auto;background: url("i/help-bg.png") 830px 10px no-repeat;}
.help-center .content {font-size:14px;color:#333;padding:10px 30px;line-height: 20px;}
.help-center .content dt {line-height: 30px;padding:10px 0;margin:10px 0;font-size:14px;color:#31c881;border-bottom:1px dashed #ddd;}
.help-center .content dd {line-height: 30px;font-size:12px;}
.q-box {float:left;margin-top:15px;}
.q-box p {font-size:14px;color:#fff;padding-bottom:10px;}
.q-form {border:5px solid #31c881;overflow: hidden}
.q-form .ipt {border:none;float:left;line-height:32px;height: 32px;padding:5px;width:560px;font-size:14px;}
.q-form .submit {float:left;border:none;background: #31c881;width:115px;line-height:42px;height: 42px;text-align: center;font-size:18px;color:#fff;}
.h-list {width: 100%;overflow: hidden;margin-bottom:20px;}
.h-list li {float:left;width:100%;margin:5px 0;padding:2px 0;border:none;}
.h-list li:hover s {background-position:-196px -202px; }
.h-list li:hover a {color:#31c881;}
.h-list li s {display: inline-block;*zoom:1;*display:inline;width:10px;height: 10px;background: url("i/common.png") -142px -202px;margin-right: 10px;}
.help-search .dt {font-size:16px;color:#000;}
.help-search .dt strong {color:#31c881;}
.help-search .dd {margin-top:15px;height: 80px;padding:20px 30px;overflow-y: scroll;background: #e7e7e7;border:1px dashed #cdcdcd;}
.help-search .h-list {overflow: visible;}
.help-search li {width:50%;}
.q-type .dt {font-size:16px;color:#000;padding-bottom:10px;margin-top:15px;border-bottom:1px dashed #cdcdcd;}
.q-type .item {float:left;margin:10px 130px 10px 10px;font-size:16px;color:#000;text-align: center;cursor: pointer}
.q-type .item.active {color:#31c881;}
.q-type .item s {width:65px;height: 65px;display: inline-block;*zoom:1;*display:inline;background: url("i/common.png") 0 -304px no-repeat;margin-bottom:5px;}
.q-type .item.fore1 {margin-right: 100px;}
.q-type .item.fore2 s {background-position: -73px -309px;}
.q-type .item.fore3 s {background-position: -167px -309px;}
.q-type .item.fore4 s {background-position: -258px -309px;}
.q-type-cnt {background: #fff;padding:15px 25px 0 25px;border:1px solid #ddd;position: relative;height: 200px;}
.q-type-cnt li {width:50%;}
.q-type-cnt i {position:absolute;width:20px;height: 10px;display: block;background: url("i/common.png") no-repeat -233px -200px;left:57px;top:-10px;}
.q-type-cnt.fore2 i {left:267px;}
.q-type-cnt.fore3 i {left:470px;}
.q-type-cnt.fore4 i {left:680px;}
.fd .dt {font-size:16px;color:#000;padding-bottom:10px;margin-top:15px;border-bottom:1px dashed #cdcdcd;}
.fd h3 {font-size:14px;color:#333;padding:10px 0;}
.fd textarea {border:1px solid #cdcdcd;width:1163px;background: #fff;padding:5px 10px;}
.fd .submit {display: block;width:140px;height: 35px;line-height: 35px;text-align: center;color:#fff;font-size:14px;float: right;margin-top:20px;background: #0085d0;}
    /*排行榜*/
.rank {height: auto}
.rank .content {padding:20px 10px;}

/*通知公告*/
.ann {height: auto;min-height: 410px;}
.ann .content {padding:20px 0;}
/*标识管理*/
.bsgl {padding:30px 40px;font-size:14px;}
.bsgl-my {width:480px;height:190px;border-bottom:1px solid #ddd;}
.bsgl-my .code {margin-left:85px;}
.bsgl-tip {padding:5px 20px;border:1px dotted #ccc;background:#efefef;width:345px;height:140px;color:#666;margin-left:20px;line-height: 20px;}
.bsgl .ico-box {float:left;padding:20px 35px;overflow: hidden;clear:both;}
.bsgl .ico-box .item {float:left;text-align: center;width:76px;margin-right:5px;}
.bsgl .ico-box .item  s {display:block;width:75px;height:45px;background:url("i/ico_grgl.png") 5px 0 no-repeat;}
.bsgl .ico-box .item span {display: block;color:#333;}
.bsgl .ico-box .item.fore2  s {background-position: -62px 0;}
.bsgl .ico-box .item.fore3  s {background-position: -135px 0;}
.bsgl .ico-box .item.fore4  s {background-position: -216px 0;}
.bsgl .ico-box .item.fore5  s {background-position: -310px 0;}

/*完善信息*/
.wsxx {padding:20px;}
.wsxx .top-info {width: 100%;text-align: center;overflow: hidden;margin-bottom:40px;}
.wsxx .top-info .item {margin:0 45px;color:#fff;display: inline-block;*zoom:1;*display:inline;width:115px;height:115px;}
.wsxx .top-info .item.red {background:url("i/ico_big_red.png") 0 0 no-repeat;}
.wsxx .top-info .item.blue {background:url("i/ico_big_blue.png") 0 0 no-repeat;}
.wsxx .top-info .item.gray {background:url("i/ico_big_gray.png") 0 0 no-repeat;}
.wsxx .top-info .item .num {display: block;font-size:36px;margin-top:10px;}
.wsxx .top-info .item strong  {display: block;font-size:16px;line-height:16px;font-weight: normal}
.wsxx .tel,.wsxx .email {width:152px;}

.consumption {text-align: center;height: auto}
.consumption .form {margin:20px auto;overflow: hidden;display: inline-block;*zoom:1;*display:inline;}
.consumption .form  .btn-search {display: inline-block;padding:0 25px;line-height: 27px;height:27px;margin:0 18px;moz-border-radius: 3px; /* Gecko browsers */-webkit-border-radius: 3px; /* Webkit browsers */border-radius:3px; /* W3C syntax */;color:#fff;border:1px solid #0085d0;background-color: #0085d0;}
.consumption .form  .btn-search:hover {background-color: #0094e3;}
.consumption .ico-date {cursor:pointer;display: inline-block;*zoom:1;*display:inline;background: url("i/common.png") -357px -64px;width:30px;height:30px;vertical-align: middle}
.consumption .line {height:2px;vertical-align:middle;border-bottom:1px solid #ddd;width:24px;display: inline-block;*zoom:1;*display:inline;margin:0 5px;}
.btn-get-code {cursor:pointer;color:#fff;margin-left:10px;display: inline-block;*zoom:1;*display:inline;width:62px;height: 28px;text-align:center;line-height:28px;background: url("i/btn-get-code.png") 0 0 no-repeat; vertical-align: middle;}
.btn-get-code:hover {background-image:url("i/btn-get-code-hover.png");color:#fff;}
.form {}
.form-item {float:left;line-height:28px;color:#333;margin:10px 10px 10px 0;}
.form-item .label {float:left;}
.form-item .info {float:left;}
.zhgl .info{width: 150px;}
.form-item .ipt{border:1px solid #ddd;height:24px;line-height:24px;width:80px;padding:2px 5px; vertical-align: middle;}
.form-btns-box {margin-top:30px;text-align: center;}
.form-btns-box a {cursor:pointer;margin:0 22px;color:#fff;display: inline-block;*zoom:1;*display:inline;background: url("i/btn-comfirm.png") 0 0 no-repeat;width:84px;height:30px;text-align: center;line-height: 30px;}
.form-btns-box a.btn-comfirm:hover {color:#fff;background-image: url("i/btn-comfirm-hover.png")}
.form-btns-box a.btn-cancel {background-image: url("i/btn-cancle.png"); color: #666;}
.form-btns-box a.btn-cancel:hover {color:#fff;background-image: url("i/btn-cancel-hover.png");color: #666;}
.form-btns-box a.btn-wsxx {background-image: url("i/btn-wsxx.png");width:116px;height:28px;line-height: 28px;}
.u-radio-box {cursor: pointer;}
.u-radio-box s {display: inline-block;*zoom:1;*display:inline;width:20px;height:20px;vertical-align: middle;margin-right:5px;background: url("i/common.png") -47px  -70px;}
.u-radio-box s.no {background-position: -86px -70px;}

table.pro-talbe{ margin:0px auto; color:#333333; text-align:center; border-collapse:collapse; text-align: left;}
table.pro-talbe td{ border:1px solid #0185d0; padding:15px;line-height: 25px;}
table.pro-talbe .name {color:#333;font-size:14px;}
table.pro-talbe .gray {color:#777;}
.pro-talbe .btn-red,.pro-talbe .btn-gray,.pro-talbe .btn-purple {display: inline-block;padding:0 15px;line-height: 36px;height:36px;margin:0 18px;color:#fff;}
.pro-talbe .btn-red {background-color: #de4327;border:1px solid #de4327;}
.pro-talbe .btn-red:hover {background: #ed4f32;}
.pro-talbe .btn-gray {background-color: #efefef;border:1px solid #b8b8b8;color:#404040;}
.pro-talbe .btn-gray:hover {background-color: #f9f9f9;}
.pro-talbe .btn-purple{background-color: #e30076;}
.pro-talbe .btn-purple:hover {background-color: #f30a83;}
.table-wxfqy .btn-red,.table-wxfqy .btn-gray{height:28px; padding: 0 25px; font-size: 14px; line-height: 28px; moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius:3px;}
.table-wxfqy .btn-disable,.table-wxfqy .btn-disable:hover{background-color: #666; color: #cbcbcb; border-color: #666; cursor: default;}
.pro-talbe.s-gray td {border-color:#cccccc;}
.pro-talbe .thumb img {width: 104px;height: 104px;vertical-align: middle}
.pro-talbe .info {margin:0 130px 0 20px;color:#555;line-height: 20px;display: inline-block;*zoom:1;*display:inline;width:260px;vertical-align: middle}
.pro-talbe .num {display: inline-block;*zoom:1;*display:inline;width:50px; text-align: center;}
.pro-talbe .btn-boxs {display: inline-block;*zoom:1;*display:inline; margin-left: 40px;}
.pro-talbe .btn-boxs a {margin:0 10px;}
.wxfqy-sort{ width: 780px; margin: 0 auto 10px; height:24px; line-height: 24px; text-align: right; font-size: 14px;}
.wxfqy-sort i.ico{width: 24px; height: 24px; display: inline-block; vertical-align: top;}
.wxfqy-sort .icon-up{background: url("i/icon-up.png") no-repeat;}
.wxfqy-sort .icon-down{background: url("i/icon-down.png") no-repeat;}
.wxfqy-sort a,.wxfqy-sort a:hover{color: #333;}


.pager-rank {float:right;font-size:14px;padding:40px 0;overflow: hidden}
.pager-rank .item {cursor: pointer;color:#0085d0;margin-left:25px;}
.pager-rank .item:hover {text-decoration: underline;}
.pager-rank .item.selected {cursor: pointer;color:#ff0000}

.cart-wrap{}
.cart-title{height: 40px; line-height: 40px; color: #fff; padding: 0 20px; font-size: 14px; background: url("i/title_bg.png") no-repeat;}
.cart-title .t1{width: 40%; text-align: center;}
.cart-title .t2{width: 18%; text-align: center;}
.cart-list li{width: 100%; font-size: 14px;}
.cart-list li .title{ padding: 10px 5px;}
.cart-list li .title i{padding: 5px
5px; background-color: #d2d2d2; color: #333; font-size: 14px;moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius:3px; display: inline-block;}
.cart-list li .con{padding: 10px 20px; height: 100px;border: solid 1px #d1d1d1;}
.cart-list li .con img{width: 100px; height: 100px; float: left; margin-right: 20px;}
.cart-list li .con p.t1{margin: 30px 10px; height: 40px; line-height: 20px; overflow: hidden; width: 25%; float: left;}
.cart-list li .con p.t2{height: 100px; line-height: 100px; width: 18%; float: left; text-align: center;}
.cart-list li .con p.t3{width: 20%; height: 30px; float: right; margin-top: 35px;}
.cart-list li .con .btn-gray,.cart-list li .con .btn-red{height:28px; padding: 0 25px; font-size: 14px; line-height: 28px;background-color: #efefef;border:1px solid #b8b8b8;
    color:#404040; display: inline-block;}
.cart-list li .con .btn-gray:hover {background-color: #f9f9f9;}
.cart-list li .con .btn-red{background-color: #e30076; color: #fff; border-color: #e30076;}
.cart-list li .con .btn-red:hover{background-color:#f30a83;}
.cart-list li .lp-num{height: 30px; padding-top: 35px; display: block;}
.cart-list li .lp-num i{width: 30px; height: 30px; font-size: 20px; border: solid #ddd 1px; text-align: center; line-height: 30px; color: #666; float: left; cursor: pointer; background-color: #eaeaea}
.cart-list li .lp-num .num{width:50px; border-left:0; border-right: 0; color: #444; cursor: default; font-size: 12px; background-color: #fff;}
.cart-list li .lp-num-disable i,.cart-list li .lp-num-disable .num{background-color: #ccc; cursor: default;}


.cart-zjll{width: 100%; margin-top: 30px;}
.cart-zjll ul.tab-title{border-bottom: 2px solid #0085d0;}
.cart-zjll ul.tab-title li{width: 100px; height: 36px; line-height: 36px; text-align: center; color: #666; float: left; font-size: 15px; cursor: pointer;}
.cart-zjll ul.tab-title li.cur{background-color: #0085d0; color: #fff;}
.cart-zjll ul.com-pic-list li{padding-bottom: 0; width: 236px; margin-right: 10px;}
.cart-zjll ul.com-pic-list li img{height: 236px;}