* {
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	position: relative;
	display: -webkit-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-y: auto;
	background-color: #fafafa;
	background-position: 50% 50%;
	font-weight: 300;
	font-size: 62.5%;
	font-family: Helvetica,'Microsoft Yahei',Tahoma,Arial,sans-serif;
	line-height: 1.231;
	background-size: cover;
	-webkit-touch-callout: none;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	min-width: 960px;
	width: expression_r( document.body.clientWidth < 961 ? "960px" : "auto" );
	min-height: 600px;
	width: expression_r( document.body.clientWidth < 599 ? "600px" : "auto" );
	overflow-x: hidden;

}
.logo {
	height: 26px;
	width: 86px;
	padding: 15px 0 0 15px;
}
.logo a{
	display: block;
	height: 26px;
	width: 86px;
}
.logo a img{
	display: block;
	height: 26px;
	width: 86px;
}
.phone_panel{
	height:689px;
	width: 890px;
	bottom: 0px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-top:-330px;
	margin-left: -445px;
}
.phoneBox{
	width:383px;
	height:689px;
	float:left;
	background-image: url(../img/sj.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 100% 100%;
}
.phoneBox .nr{
	background-color:#000;
	position:relative;
	cursor:pointer;
	height:536px;
	width: 309px;
	overflow-x:hidden;
	overflow-y:hidden;
	-webkit-user-select:none;
	margin: 73px 0 0 38px;
}
.phoneBox .nr .iframe{
	border-style: none;
}
.ctrl_panel {
	float: left;
	top: 435px;
	width: 38px;
	left: -25px;
	position: relative;
}
.btn {
	width: 38px;
	height: 37px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	background-image: url(../img/fy.png);
	background-repeat: no-repeat;
	background-size: 38px 181px;
	display: block;
}
.next_btn {
	background-position: 0px -145px;
}
.pre_btn {
	margin-bottom: 11px;
	background-position: 0px -95px;
}
.next_btn:hover{
	background-position: 0px -47px;
}
.pre_btn:hover{
	background-position: 0px 2px;
}
#code{
	float: right;
	width: 445px;
	position: relative;
	top: 50%;
	margin-top: -270px;
}
.code_h1{
	font-size: 38px;
	font-weight: lighter;
	margin: 0 0 9px 0;
}
.code_p1{
	font-size: 20px;
	line-height: 27px;
	color:#343434;
}
.code_p2{
	font-size: 24px;
	margin: 30px 0 15px 0;
	color: #484848;
}
.code_p3{
	font-size: 12px;
	color: #AAA8A3;
	line-height: 34px;
}
.code_p4{
	display: block;
	height: 46px;
	float:left;
	width:120px;
	margin-left:15px;
}
.code_div1{
	height: 70px;
	margin-top:50px; 
	padding: 0 0 0 85px;
	background-image:  url(../img/tb1.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 70px 70px;
	float:left;
	clear:both;
}
.code_div1_p_span1{
	font-size: 24px;
	line-height: 40px;
}
.code_div1_p_span2{
	font-size: 16px;
}
#code #codeImg{
	display:block;
	width: 78px;
	height: 78px;
	text-align: center;
	background:#fff;
	border:solid 1px #efefef;
	float:left;

}
.code_p4_a{
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	background-image: url(../img/fx.png);
	background-repeat: no-repeat;
	margin: 9px 10px 0 0;
	background-size: 349px 60px;
}
.code_p4_a1{
	background-position: 0px 0px;
}
.code_p4_a2{
	background-position: -38px 0px;
}
.code_p4_a3{
	background-position: -77px 0px;
}
.code_p4_a4{
	background-position: -114px 0px;
}
.code_p4_a5{
	background-position: -189px 0px;
}
.code_p4_a1:hover{
	background-position: 0px -31px;
}
.code_p4_a2:hover{
	background-position: -38px -31px;
}
.code_p4_a3:hover{
	background-position: -77px -31px;
}
.code_p4_a4:hover{
	background-position: -114px -31px;
}
.code_p4_a5:hover{
	background-position: -189px -31px;
}
.code_p5{
	float:left;
	display: block;
	margin-top: 24px;
	height: 45px;
}
.code_p5_a{
	display: block;
	width: 148px;
	height: 45px;
	float: left;
	background-image: url(../img/an.png);
	background-repeat: no-repeat;
	margin: 0 15px 0 0;
}
.code_p5_a1{
	background-position: 0px -2px;
}
.code_p5_a2{
	background-position: -169px -2px;
}
.code_p5_a1:hover{
	background-position: 0px -63px;
}
.code_p5_a2:hover{
	background-position: -169px -63px;
}
.img5 {
	font-size: 12px;
	font-weight: 400;
	float:left;
	clear:both;
	margin-top:68px;
}
.pc-box {
	width:750px;
	margin:0 auto;
}